# Data Modeling (MySQL + Workbench)

## Objective
Store and organize the raw data from CSV files into a relational structure using MySQL, establishing primary keys, foreign keys, and data integrity.


## Imported Tables
The following tables were successfully imported into the `fashion_store` database:

- `sales`
- `salesitems`
- `products`
- `customers`
- `stock`
- `campaigns`
- `channels`


## Data Quality Check (Python Script)

A Python script was executed to check for:

- Null values
- Empty strings
- Column data types
- Number of unique values

**Result**: All tables are clean. No nulls or empty strings were found.


## Primary Keys Definition

Primary keys were defined to uniquely identify each row in the respective tables.

```sql
-- Example: Setting primary key for products
ALTER TABLE products
ADD PRIMARY KEY (product_id);
```

This was done for all tables that have unique identifiers.

---

## Foreign Keys Definition

Foreign keys were added to establish relationships between tables and ensure referential integrity.

```sql
-- Link sales.customer_id to customers
ALTER TABLE sales
ADD CONSTRAINT fk_sales_customer
FOREIGN KEY (customer_id) REFERENCES customers(customer_id);

-- Link sales.channel to channels
ALTER TABLE sales
ADD CONSTRAINT fk_sales_channel
FOREIGN KEY (channel) REFERENCES channels(channel);

-- Link salesitems.sale_id to sales
ALTER TABLE salesitems
ADD CONSTRAINT fk_salesitems_sale
FOREIGN KEY (sale_id) REFERENCES sales(sale_id);

-- Link salesitems.product_id to products
ALTER TABLE salesitems
ADD CONSTRAINT fk_salesitems_product
FOREIGN KEY (product_id) REFERENCES products(product_id);

-- Link stock.product_id to products
ALTER TABLE stock
ADD CONSTRAINT fk_stock_product
FOREIGN KEY (product_id) REFERENCES products(product_id);

-- Link campaigns.channel to channels
ALTER TABLE campaigns
ADD CONSTRAINT fk_campaigns_channel
FOREIGN KEY (channel) REFERENCES channels(channel);
```

Note: Some relationships required fixing values manually to ensure compatibility (e.g., `campaigns.channel` matching valid `channels`).

---

## Basic Queries for Initial Exploration

A few basic SQL queries were written to understand the dataset:

```sql
-- Total number of sales
SELECT COUNT(*) AS total_sales
FROM sales;

-- Sample of sales table for inspection
SELECT * FROM sales
LIMIT 10;

-- Total revenue
SELECT SUM(total_amount) AS total_revenue
FROM sales;

-- Number of unique customers
SELECT COUNT(DISTINCT customer_id) AS unique_customers
FROM sales;

-- Average ticket size
SELECT ROUND(SUM(total_amount) / COUNT(*), 2) AS avg_ticket
FROM sales;

-- Total products sold
SELECT SUM(quantity) AS total_products_sold
FROM sales_items;

-- Total number of campaigns
SELECT COUNT(*) AS total_campaigns
FROM campaigns;

-- Total profit (revenue - cost)
SELECT
    SUM(sales_items.item_total - products.cost_price * sales_items.quantity) AS total_profit
FROM
    sales_items
JOIN
    products ON sales_items.product_id = products.product_id;
```